<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Search Location</div>
      <div class="item item-body">






<div class="list list-inset">
  <label class="item item-input" for="start-location">
          <input id="start-location" type="text" placeholder="Your start location" ng-model="startLocation" />
          <button class="button button-positive" ng-click="getCurrentLocation()">
      <i class="icon ion-earth"></i>
    </button>
  </label>

  <label class="item item-input" for="target-location">

          <input id="target-location" type="text" placeholder="Your target location" ng-model="targetLocation" />
  </label>
</div>



<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Transport method
    </div>
    <select ng-model="transportMethod">
                <option value="walking" selected>Walking</option>
                <option value="cycle">Cycle</option>
    </select>
  </label>

</div>


          <button class="button button-full button-positive" ng-click="searchLocation()">Search</button>
          <span ng-show="noFields">Please fill in your start and target location</span>



        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
